body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #2f2f2f, #bdbdbd);
}

.card {
    background: #ffffff;
    padding: 30px;
    width: 300px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.2);
    text-align: center;
}

.card h2 {
    margin-bottom: 20px;
    color: #333;
}

.card input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
    border-radius: 6px;
    border: 1px solid #ccc;
    margin-bottom: 15px;
}

.card button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background: #444;
    color: white;
    cursor: pointer;
    transition: background 0.3s ease;
}

.card button:hover {
    background: #222;
}

.btn {
    width: 93%;
    padding: 10px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background: #444;
    color: white;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    transition: background 0.3s ease;
}

.btn:hover {
    background: #222;
}